header {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 100%;
  background: black;

  .wrapper {
    width: 100%;
    margin: 0 auto;
    max-width: 980px;

    .logo {
      width: 250px;
      color: #fff;
      text-transform: uppercase;
    }
  }
}
