html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: lightgray;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.main {
  display: grid;
  grid-template-rows: 100vh;
  grid-template-columns: 1fr;
  padding: 20px 15px;
}
